body{
	background-color: #D29C7E;
}

.col-lg-4{
	font-size: 16px;
	text-decoration-color: black;
}

.nav-justified{
	font-size: 18px;
}

.jumbotron{
	background-color: #D29C7E;
	padding-bottom: 0px;
	padding-top: 0px;
}

.background{
  	display: inline-block;
  	height: 100%;
  	width: 100%;
	overflow: hidden;
}

.btn-primary{
	background-color: ##010a81;
}

.btn-btn-lg-btn-success{
	border-color: none !important;
}
/*attempt at isolating container for background image*/

/*.container{
	background: url(../assets/images/background.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
]*/
}