.col-lg-4{
	font-size: 16px;
	text-decoration-color: black;
}

.jumbotron{
	/*background: black;*/ 
}

.background{
  	display: inline-block;
  	height: 35%;
  	width: 35%;
 	background-size: cover;
	overflow: hidden;
}

div.btn-success{
	border-color: none !important;
}
/*attempt at isolating container for background image*/

/*.container{
	background: url(../assets/images/background.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
]*/
}