body{
	background-color: #014a89;
  font-family: Baskerville; 
}

#episode-type{
  color: black;
  font-size: 225%;
  background: #f05563; 
  border: 1px solid #111;
  padding: 0px 30px;
  display: inline-block;
  width: 50%;
  margin-right: 24px;
  font-family: Baskerville;
  height: 72px;
  line-height: 74px;
  vertical-align: middle;
  box-shadow: #111 0 0 20px;
  float: left;
}

.container{
  margin: auto;
}

.h2, h2 {
  color: #f05563;
  font-size: 30px;
}
/*styling the paragraph text*/

.text-danger {
  color: #B8C6DD;
}

.col-lg-4{
  overflow: hidden;
	font-size: 16px;
	text-decoration-color: black;
  display: block;
}

.nav-justified{
	font-size: 18px;
}

.jumbotron{
	background-color: #014a89;
	padding-bottom: 0px;
	padding-top: 0px;
}

.background{
  display: inline-block;
  height: 100%;
  width: 100%;
	overflow: hidden;
}

.btn-primary{
	background-color: ##010a81;
}

.footer{
  color: #e5e5e5;
}

p{
  color: #B8C6DD;
}

/*attempt at isolating container for background image*/

/*.container{
	background: url(../assets/images/background.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 3%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
]*/
}